In [1]:
#Import pandas, matplotlib.pyplot, seaborn, numpy, and os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

In [2]:
#Raw data from European adult online forum 
online_data = pd.read_csv('/Users/joyopsvig/Documents/SpringboardDataScience2021/CapstoneTwo/Dataset/online_sex_work.csv', low_memory=False, header = 0)

In [3]:
#Call info to see summary of data
online_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   User_ID                              28831 non-null  float64
 1   Gender                               28827 non-null  object
 2   Age                                  28831 non-null  object
 3   Location                             28830 non-null  object
 4   Verification                         28831 non-null  object
 5   Sexual_orientation                   28830 non-null  object
 6   Sexual_polarity                      28830 non-null  object
 7   Looking_for                          28406 non-null  object
 8   Points_Rank                          28831 non-null  object
 9   Last_login                           28831 non-null  object
 10  Member_since                         28831 non-null  object
 11  Number_of_Comments_in_public_forum   28831 non-null  object
 12  Time_spent_chating_H:M               28831 non-null  object
 13  Number_of_advertisments_posted       28831 non-null  float64
 14  Number_of_offline_meetings_attended  28831 non-null  float64
 15  Profile_pictures                     28831 non-null  float64
 16  Friends_ID_list                      3313 non-null   object
 17  Risk                                 28831 non-null  object
dtypes: float64(4), object(14)
memory usage: 144.0+ MB

In [4]:
#Call head method to print first several rows of data
online_data.head()

,User_ID,Gender,Age,Location,Verification,Sexual_orientation,Sexual_polarity,Looking_for,Points_Rank,Last_login,Member_since,Number_of_Comments_in_public_forum,Time_spent_chating_H:M,Number_of_advertisments_posted,Number_of_offline_meetings_attended,Profile_pictures,Friends_ID_list,Risk
0,10386.0,male,"34,6",A,Non_Verified,Homosexual,Switch,Men,50,before_10_days,17.9.2012,32,0:2,0.0,0.0,0.0,18260,No_risk
1,14.0,male,"32,2",J,Non_Verified,Heterosexual,Dominant,Women,518,before_1_days,1.11.2009,710,3:45,9.0,0.0,0.0,"11778,32024,43768,23969,27318,45884,31277",No_risk
2,16721.0,male,"33,6",K,Non_Verified,Heterosexual,Dominant,Women,150,before_3_days,1.4.2013,25,2:15,1.0,1.0,45.0,"19805,21721,19802",No_risk
3,16957.0,male,34,H,Non_Verified,Heterosexual,Dominant,Women,114,before_4_days,8.4.2013,107,359:22,1.0,0.0,1.0,"40847,38183,9507,42259,5807,28118,24848,37170,...",No_risk
4,17125.0,male,"39,5",B,Non_Verified,Heterosexual,Dominant,Women,497,before_5_days,14.4.2013,600,0:21,0.0,6.0,8.0,"1320,35739,34231,19097,20197,18069,12330,43342...",No_risk

In [5]:
#Call shape to see size of data
online_data.shape

(1048575, 18)

In [6]:
#Call describe on data to see summary of statistics
online_data.describe(include = 'all')

,User_ID,Gender,Age,Location,Verification,Sexual_orientation,Sexual_polarity,Looking_for,Points_Rank,Last_login,Member_since,Number_of_Comments_in_public_forum,Time_spent_chating_H:M,Number_of_advertisments_posted,Number_of_offline_meetings_attended,Profile_pictures,Friends_ID_list,Risk
count,28831.000000,28827,28831,28830,28831,28830,28830,28406,28831,28831,28831,28831,28831,28831.000000,28831.000000,28831.000000,3313,28831
unique,NaN,2,526,18,3,4,3,5,376,2360,2629,217,1199,NaN,NaN,NaN,2742,3
top,NaN,male,"37,3",A,Non_Verified,Heterosexual,Submisive,Nobody,0,before_1_days,1.7.2012,0,0:0,NaN,NaN,NaN,22639,unknown_risk
freq,NaN,22382,264,10944,28228,20441,10878,19928,19931,1392,110,25933,22824,NaN,NaN,NaN,23,28741
mean,24150.659637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.171413,0.042073,0.436301,NaN,NaN
std,14051.610199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.608099,0.440019,3.095367,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN
25%,11895.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN
50%,23754.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN
75%,36450.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN
max,48606.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.000000,23.000000,147.000000,NaN,NaN

In [7]:
#Create columns variable
columns = online_data.columns

In [8]:
#Create columns to convert to strings
to_be_string_columns = ['Gender', 'Location', 'Verification', 'Sexual_orientation', 
                        'Sexual_polarity', 'Looking_for', 'Last_login', 'Member_since', 'Risk', 'Time_spent_chating_H:M']

In [9]:
#Convert object columns to strings
for column in to_be_string_columns:
    online_data[column] = online_data[column].astype('string')

In [10]:
#Confirm columns are strings
online_data[:10].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   User_ID                              10 non-null     float64
 1   Gender                               10 non-null     string
 2   Age                                  10 non-null     object
 3   Location                             10 non-null     string
 4   Verification                         10 non-null     string
 5   Sexual_orientation                   10 non-null     string
 6   Sexual_polarity                      10 non-null     string
 7   Looking_for                          10 non-null     string
 8   Points_Rank                          10 non-null     object
 9   Last_login                           10 non-null     string
 10  Member_since                         10 non-null     string
 11  Number_of_Comments_in_public_forum   10 non-null     object
 12  Time_spent_chating_H:M               10 non-null     string
 13  Number_of_advertisments_posted       10 non-null     float64
 14  Number_of_offline_meetings_attended  10 non-null     float64
 15  Profile_pictures                     10 non-null     float64
 16  Friends_ID_list                      9 non-null      object
 17  Risk                                 10 non-null     string
dtypes: float64(4), object(4), string(10)
memory usage: 1.5+ KB

In [11]:
#Convert commas in age column commas to decimals
online_data['Age'] = online_data['Age'].str.replace(',','.')

In [12]:
#Convert missing values in age column to NaN
online_data['Age'].replace('???', np.NaN)

0          34.6
1          32.2
2          33.6
3            34
4          39.5
           ...
1048570     NaN
1048571     NaN
1048572     NaN
1048573     NaN
1048574     NaN
Name: Age, Length: 1048575, dtype: object

In [13]:
#Convert age object to a float
online_data['Age'] = pd.to_numeric(online_data['Age'],errors='coerce')

In [14]:
#Remove the beginning string in last login column
online_data['Last_login'] = online_data['Last_login'].str.split('before_').str[-1]

In [15]:
#Remove the last 5 characters in last login
online_data['Last_login'] = online_data['Last_login'].map(lambda x: str(x)[:-5])

In [16]:
#Convert last login to a float
online_data['Last_login'] = pd.to_numeric(online_data['Last_login'],errors='coerce')

In [17]:
#Confirm last login data is numeric, float
online_data['Last_login'].head()

0    10.0
1     1.0
2     3.0
3     4.0
4     5.0
Name: Last_login, dtype: float64

In [18]:
#Create columns to convert to float
to_be_float_columns = ['Points_Rank','Number_of_Comments_in_public_forum',
                       'Number_of_advertisments_posted']

In [19]:
#Convert object columns to floats
for column in to_be_float_columns:
    online_data[column] = pd.to_numeric(online_data[column],errors='coerce')

In [20]:
#Confirm object columns are now floats
online_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   User_ID                              28831 non-null  float64
 1   Gender                               28827 non-null  string
 2   Age                                  28825 non-null  float64
 3   Location                             28830 non-null  string
 4   Verification                         28831 non-null  string
 5   Sexual_orientation                   28830 non-null  string
 6   Sexual_polarity                      28830 non-null  string
 7   Looking_for                          28406 non-null  string
 8   Points_Rank                          28618 non-null  float64
 9   Last_login                           28831 non-null  float64
 10  Member_since                         28831 non-null  string
 11  Number_of_Comments_in_public_forum   28827 non-null  float64
 12  Time_spent_chating_H:M               28831 non-null  string
 13  Number_of_advertisments_posted       28831 non-null  float64
 14  Number_of_offline_meetings_attended  28831 non-null  float64
 15  Profile_pictures                     28831 non-null  float64
 16  Friends_ID_list                      3313 non-null   object
 17  Risk                                 28831 non-null  string
dtypes: float64(8), object(1), string(9)
memory usage: 144.0+ MB

In [21]:
#Convert user_id to integer
online_data['User_ID'] = pd.array(online_data['User_ID'], dtype=pd.Int64Dtype())

In [22]:
#Confirm user_id is an integer
online_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   User_ID                              28831 non-null  Int64
 1   Gender                               28827 non-null  string
 2   Age                                  28825 non-null  float64
 3   Location                             28830 non-null  string
 4   Verification                         28831 non-null  string
 5   Sexual_orientation                   28830 non-null  string
 6   Sexual_polarity                      28830 non-null  string
 7   Looking_for                          28406 non-null  string
 8   Points_Rank                          28618 non-null  float64
 9   Last_login                           28831 non-null  float64
 10  Member_since                         28831 non-null  string
 11  Number_of_Comments_in_public_forum   28827 non-null  float64
 12  Time_spent_chating_H:M               28831 non-null  string
 13  Number_of_advertisments_posted       28831 non-null  float64
 14  Number_of_offline_meetings_attended  28831 non-null  float64
 15  Profile_pictures                     28831 non-null  float64
 16  Friends_ID_list                      3313 non-null   object
 17  Risk                                 28831 non-null  string
dtypes: Int64(1), float64(7), object(1), string(9)
memory usage: 145.0+ MB

In [23]:
#Convert periods to hyphens in member since column
online_data['Member_since'] = online_data['Member_since'].str.replace('.','-', regex=True)

In [24]:
#Convert member since column to datetime
online_data['Member_since'] = pd.to_datetime(online_data['Member_since'], dayfirst=True, errors='coerce')

In [25]:
#Confirm member since is datetime
online_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   User_ID                              28831 non-null  Int64
 1   Gender                               28827 non-null  string
 2   Age                                  28825 non-null  float64
 3   Location                             28830 non-null  string
 4   Verification                         28831 non-null  string
 5   Sexual_orientation                   28830 non-null  string
 6   Sexual_polarity                      28830 non-null  string
 7   Looking_for                          28406 non-null  string
 8   Points_Rank                          28618 non-null  float64
 9   Last_login                           28831 non-null  float64
 10  Member_since                         28819 non-null  datetime64[ns]
 11  Number_of_Comments_in_public_forum   28827 non-null  float64
 12  Time_spent_chating_H:M               28831 non-null  string
 13  Number_of_advertisments_posted       28831 non-null  float64
 14  Number_of_offline_meetings_attended  28831 non-null  float64
 15  Profile_pictures                     28831 non-null  float64
 16  Friends_ID_list                      3313 non-null   object
 17  Risk                                 28831 non-null  string
dtypes: Int64(1), datetime64[ns](1), float64(7), object(1), string(8)
memory usage: 145.0+ MB

In [26]:
# Creating a function that returns the number of days
def calculate_days(date):
    datapulldate = pd.Timestamp('9-1-2017')
    return datapulldate - date

# Apply the function to the column date
online_data['Member_since'] = online_data['Member_since'].apply(lambda x: calculate_days(x))

In [27]:
#Confirm member_since is updated to days
online_data.head()

,User_ID,Gender,Age,Location,Verification,Sexual_orientation,Sexual_polarity,Looking_for,Points_Rank,Last_login,Member_since,Number_of_Comments_in_public_forum,Time_spent_chating_H:M,Number_of_advertisments_posted,Number_of_offline_meetings_attended,Profile_pictures,Friends_ID_list,Risk
0,10386,male,34.6,A,Non_Verified,Homosexual,Switch,Men,50.0,10.0,1810 days,32.0,0:2,0.0,0.0,0.0,18260,No_risk
1,14,male,32.2,J,Non_Verified,Heterosexual,Dominant,Women,518.0,1.0,2861 days,710.0,3:45,9.0,0.0,0.0,"11778,32024,43768,23969,27318,45884,31277",No_risk
2,16721,male,33.6,K,Non_Verified,Heterosexual,Dominant,Women,150.0,3.0,1614 days,25.0,2:15,1.0,1.0,45.0,"19805,21721,19802",No_risk
3,16957,male,34.0,H,Non_Verified,Heterosexual,Dominant,Women,114.0,4.0,1607 days,107.0,359:22,1.0,0.0,1.0,"40847,38183,9507,42259,5807,28118,24848,37170,...",No_risk
4,17125,male,39.5,B,Non_Verified,Heterosexual,Dominant,Women,497.0,5.0,1601 days,600.0,0:21,0.0,6.0,8.0,"1320,35739,34231,19097,20197,18069,12330,43342...",No_risk

In [28]:
#Update column header of member since to days of membership
online_data.rename({'Member_since': 'Days_of_membership'}, axis=1, inplace=True)

In [29]:
#Remove "days" from days_of_membership column, then convert to a float
online_data['Days_of_membership'] = online_data['Days_of_membership'].astype(str).map(lambda x: str(x)[:-5])
online_data['Days_of_membership'] = pd.to_numeric(online_data['Days_of_membership'],errors='coerce')

In [30]:
online_data.head()

,User_ID,Gender,Age,Location,Verification,Sexual_orientation,Sexual_polarity,Looking_for,Points_Rank,Last_login,Days_of_membership,Number_of_Comments_in_public_forum,Time_spent_chating_H:M,Number_of_advertisments_posted,Number_of_offline_meetings_attended,Profile_pictures,Friends_ID_list,Risk
0,10386,male,34.6,A,Non_Verified,Homosexual,Switch,Men,50.0,10.0,1810.0,32.0,0:2,0.0,0.0,0.0,18260,No_risk
1,14,male,32.2,J,Non_Verified,Heterosexual,Dominant,Women,518.0,1.0,2861.0,710.0,3:45,9.0,0.0,0.0,"11778,32024,43768,23969,27318,45884,31277",No_risk
2,16721,male,33.6,K,Non_Verified,Heterosexual,Dominant,Women,150.0,3.0,1614.0,25.0,2:15,1.0,1.0,45.0,"19805,21721,19802",No_risk
3,16957,male,34.0,H,Non_Verified,Heterosexual,Dominant,Women,114.0,4.0,1607.0,107.0,359:22,1.0,0.0,1.0,"40847,38183,9507,42259,5807,28118,24848,37170,...",No_risk
4,17125,male,39.5,B,Non_Verified,Heterosexual,Dominant,Women,497.0,5.0,1601.0,600.0,0:21,0.0,6.0,8.0,"1320,35739,34231,19097,20197,18069,12330,43342...",No_risk

In [31]:
online_data['time'] = online_data['Time_spent_chating_H:M']
online_data['time'] = online_data['time'].str.replace(' ', '')
values = online_data['time'].fillna('00:00').str.split(':', expand=True).astype(int)
factors = np.array([60, 1])
online_data['Time_spent_chatting'] = (values * factors).sum(1)

In [32]:
online_data = online_data.dropna(thresh=3)

In [33]:
online_data['Risk'] = online_data['Risk'].replace('No_risk', '0')
online_data['Risk'] = online_data['Risk'].replace('High_risk', '1')
online_data['Risk'] = online_data['Risk'].replace('unknown_risk', '2')
online_data['Risk'] = online_data['Risk'].astype('Int32')
online_data['Risk']

0        0
1        0
2        0
3        0
4        0
        ..
28826    2
28827    2
28828    2
28829    2
28830    2
Name: Risk, Length: 28831, dtype: Int32

In [34]:
export = online_data[['User_ID', 'Gender', 'Age', 'Location', 'Verification',
       'Sexual_orientation', 'Sexual_polarity', 'Looking_for', 'Points_Rank',
       'Last_login', 'Days_of_membership',
       'Number_of_Comments_in_public_forum',
       'Number_of_advertisments_posted', 'Number_of_offline_meetings_attended',
       'Profile_pictures', 'Friends_ID_list', 'Risk', 'Time_spent_chatting']]

In [35]:
export.head()

,User_ID,Gender,Age,Location,Verification,Sexual_orientation,Sexual_polarity,Looking_for,Points_Rank,Last_login,Days_of_membership,Number_of_Comments_in_public_forum,Number_of_advertisments_posted,Number_of_offline_meetings_attended,Profile_pictures,Friends_ID_list,Risk,Time_spent_chatting
0,10386,male,34.6,A,Non_Verified,Homosexual,Switch,Men,50.0,10.0,1810.0,32.0,0.0,0.0,0.0,18260,0,2
1,14,male,32.2,J,Non_Verified,Heterosexual,Dominant,Women,518.0,1.0,2861.0,710.0,9.0,0.0,0.0,"11778,32024,43768,23969,27318,45884,31277",0,225
2,16721,male,33.6,K,Non_Verified,Heterosexual,Dominant,Women,150.0,3.0,1614.0,25.0,1.0,1.0,45.0,"19805,21721,19802",0,135
3,16957,male,34.0,H,Non_Verified,Heterosexual,Dominant,Women,114.0,4.0,1607.0,107.0,1.0,0.0,1.0,"40847,38183,9507,42259,5807,28118,24848,37170,...",0,21562
4,17125,male,39.5,B,Non_Verified,Heterosexual,Dominant,Women,497.0,5.0,1601.0,600.0,0.0,6.0,8.0,"1320,35739,34231,19097,20197,18069,12330,43342...",0,21

In [36]:
export.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28831 entries, 0 to 28830
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   User_ID                              28831 non-null  Int64
 1   Gender                               28827 non-null  string
 2   Age                                  28825 non-null  float64
 3   Location                             28830 non-null  string
 4   Verification                         28831 non-null  string
 5   Sexual_orientation                   28830 non-null  string
 6   Sexual_polarity                      28830 non-null  string
 7   Looking_for                          28406 non-null  string
 8   Points_Rank                          28618 non-null  float64
 9   Last_login                           28831 non-null  float64
 10  Days_of_membership                   28819 non-null  float64
 11  Number_of_Comments_in_public_forum   28827 non-null  float64
 12  Number_of_advertisments_posted       28831 non-null  float64
 13  Number_of_offline_meetings_attended  28831 non-null  float64
 14  Profile_pictures                     28831 non-null  float64
 15  Friends_ID_list                      3313 non-null   object
 16  Risk                                 28831 non-null  Int32
 17  Time_spent_chatting                  28831 non-null  int64
dtypes: Int32(1), Int64(1), float64(8), int64(1), object(1), string(6)
memory usage: 4.1+ MB

In [40]:
export.to_csv('Cap2DataWrangling_cleaned.csv', index=False)

In [38]:
ls

Cap2DataWrangling.ipynb        Cap2DataWrangling_cleaned.tsv
Cap2DataWrangling_cleaned.csv  Cap2EDA.ipynb